<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCartAutomationSuite" verbose="10">

	<listeners>
		<listener
			class-name="bksoft.OpenCartAutomation.listeners.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Test" >
		<classes>
			<class name="bksoft.OpenCartAutomation.testcases.HomePageTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
